@import 'tailwindcss';

@layer base {
  html,
  body {
    min-width: 100dvw;
    width: 100%;
  }
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility flex-col-center-between {
  @apply flex flex-col items-center justify-between;
}

@utility flex-col-center-start {
  @apply flex flex-col items-center justify-start;
}

@utility flex-col-end-start {
  @apply flex flex-col items-end justify-start;
}

@utility flex-col-start-end {
  @apply flex flex-col items-start justify-end;
}

@utility flex-col-start {
  @apply flex flex-col items-start justify-center;
}

@utility flex-col-end {
  @apply flex flex-col items-end justify-center;
}

@utility flex-col-start-start {
  @apply flex flex-col items-start justify-start;
}

@utility flex-col-start-between {
  @apply flex flex-col items-start justify-between;
}

@utility flex-col-center-end {
  @apply flex flex-col items-center justify-end;
}

@utility flex-col-start-center {
  @apply flex flex-col items-start justify-center;
}

@utility flex-row-center {
  @apply flex flex-row items-center justify-center;
}

@utility flex-row-start {
  @apply flex flex-row items-start justify-start;
}

@utility flex-row-center-between {
  @apply flex flex-row items-center justify-between;
}

@utility flex-row-center-start {
  @apply flex flex-row items-center justify-start;
}

@utility flex-row-center-end {
  @apply flex flex-row items-center justify-end;
}

@utility flex-row-start-center {
  @apply flex flex-row items-start justify-center;
}

@utility flex-row-start-between {
  @apply flex flex-row items-start justify-between;
}

@utility flex-row-end-center {
  @apply flex flex-row items-end justify-center;
}

@utility flex-row-end-end {
  @apply flex flex-row items-end justify-end;
}

@utility flex-row-end-start {
  @apply flex flex-row items-end justify-start;
}

@utility flex-row-start-end {
  @apply flex flex-row items-start justify-end;
}

/* Global Styles */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus-visible {
  outline: none !important;
}
